<div class="container">
    <h1 class="divider text-center">FAQ</h1>
    <div class="col-md-8 col-md-offset-2">
        <div id="accordion">
            <h3>What is Candore?</h3>
            <div>
                <p>Simply put, Candore is a geometric roguelike. This means the 
                player and all enemies in the game are different geometric shapes.
                The player will have to use this to their advantage to design 
                different ways they can conquer the difficult levels and progress.</p>
            </div>
            <h3>When will the full version be released?</h3>
            <div>
                <p>Currently, there is no expected full release date. Candore is
                simply my pet project that will continually be worked on and
                updated infrequently enough to project a solid date. However,
                I do plan on eventually releasing a full version once I manage
                to put in enough content.</p>
            </div>
            <h3>What was the hardest aspect of the game to make?</h3>
            <div>
                <p>A better question would be what was the easiest aspect of the
                game to make as almost everything has felt impossibly difficult.</p>
                <p>That said, my vote for the top two difficult features to add 
                would be the collision and lighting system. Collision just always
                feels to me like there's no system that's comprehensive enough
                to handle everything, so I now feel sympathetic to the various bugs
                I've found playing other games.</p>
                <p>The lighting system just relies on a crazy amount of math that
                blows my mind whenever I go through it.</p>
            </div>
            <h3>Will you help me with my homework?</h3>
            <div>
                <h1>No</h1>
            </div>
                <h3>How can I play it right now?</h3>
            <div>
                <p>Thats simple! Just visit the <%= link_to "home page", root_path %> and download the demo at the bottom of the page!</p>
                <p>Enjoy!</p>
            </div>
        </div>
    </div>
</div>