<div class="container">
    <h1 class="divider text-center">FAQ</h1>
    <div class="col-md-6 col-md-offset-3">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quaerat, architecto deserunt reiciendis suscipit adipisci excepturi. Voluptatem saepe odio dolor sit. Quidem minus nam quisquam voluptatum incidunt blanditiis beatae? Aliquid.</p>
    </div>
</div>