<!-- insert candore image here -->

<div class="container">
    <h1 class="divider text-center"><%= image_tag("Candore_Words.png") %></h1>
    <div class="col-md-6">
        <p class="justify">Candore is a geometric roguelike, relying on the player's finesse of using one specific
        side of the player cube to eliminate the similar geometrically-shaped enemies. Candore is
        deceptively simple, but will test even the most experienced players with the inclusion of
        permadeath and roguelike elements. With many different zones, powerups, and enemies, there 
        is no shortage of content to discover. Dive into the mystery of Candore today!</p>
        <%= image_tag("CandoreShadowSuccess!.PNG", :class => "home-media") %>
    </div>
    <div class="col-md-6">
        <%= image_tag("Candore_Lighting.PNG", :class => "home-media") %>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <br><br>
        <%= link_to 'Download Demo', 'Candore.zip', download: '', class: 'btn btn-success btn-block demo-btn' %>
    </div>
    <br>
</div>
