<!-- insert candore image here -->

<div class="container">
    <h1 class="divider text-center">Candore</h1>
    <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus velit nostrum cupiditate vitae at, reiciendis dolorum ab facere voluptatem iste asperiores rem sit modi eaque alias ipsa sapiente excepturi, ex.</p>
    </div>
    <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae aut totam, et distinctio quis reiciendis ab qui quas enim delectus, magni sit laudantium voluptatum facilis possimus quisquam doloremque consequuntur nobis!</p>
    </div>
</div>
