<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <h1>Contact Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt maxime esse dolores eos rerum molestias voluptatum, blanditiis quidem quisquam nemo rem quas fugit quos enim ab. Quod, quos magni minima.</p>
        
    </div>
    
</div>